In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [10]:
url = "https://www.cars.com/shopping/lexus/"

In [12]:
r = requests.get(url)

In [13]:
soup = BeautifulSoup(r.content, "html.parser")

In [14]:
cars = soup.find_all("div", class_= "vehicle-card vehicle-card-with-reviews")

In [15]:
len(cars)

20

Target features

In [16]:
#name 
#mileage
#price 
#rating
#review_count

Name

In [17]:
name = cars[0].find("h2", class_="title").text
name

'2019 Lexus GX 460 460'

Mileage

In [18]:
mileage  = cars[0].find("div", class_="mileage").text

Price

In [19]:
price  = cars[0].find("span", class_="primary-price").text

Rating

In [20]:
rating = cars[0].find("span", class_="sds-rating__count").text
rating

'4.9'

Dealer_Name

In [21]:
dealer_name  = cars[0].find("div", class_="dealer-name").text

Review_count

In [22]:
review_count =  cars[0].find("span", class_= "sds-rating__link sds-button-link").text

Loop through the whole page

In [23]:
Name = []
mileage = []
price = []
ratibg= []
review_count = []
dealer_name = []

#NAME
for car in cars:
    try:
        Name.append(car.find("h2").text.strip())
    except:
        Name.append("n/a")
   #MILEAGE
    try:
        mileage.append(car.find("div", class_="mileage").text.strip())
    except:
        mileage.append("n/a")
    #PRICE
    try:
        price.append(car.find("span", class_="primary-price").text.strip())
    except:
        price.append("n/a")
#DEALER_NAME
    try:
        dealer_name.append(car.find("div", class_="dealer-name").text.strip())
    except:
        dealer_name.append("n/a")
#REVIEW_COUNT
    try:
        review_count.append(car.find("span", class_= "sds-rating__link sds-button-link").text.strip())
    except:
        review_count.append("n/a")

In [24]:
car_dealer = pd.DataFrame({"Name" : Name,"Mileage": mileage, "Price" : price, "Dealer_Name" : dealer_name, "Review_count" : review_count})
car_dealer

,Name,Mileage,Price,Dealer_Name,Review_count
0,2019 Lexus GX 460 460,"60,264 mi.","$45,300",Team Toyota,"(1,253 reviews)"
1,2018 Lexus LC 500 Base,"11,008 mi.","$89,995",Woodfield Lexus,"(2,008 reviews)"
2,2019 Lexus GX 460 Base,"32,048 mi.","$47,464",Napleton's Arlington Heights Chrysler Dodge Je...,"(2,952 reviews)"
3,2019 Lexus GX 460 Base,"36,758 mi.","$49,995",Fields Lexus Glenview,"(2,494 reviews)"
4,2019 Lexus GX 460 Base,"70,326 mi.","$43,999",Phillips Chevrolet of Lansing,"(4,517 reviews)"
5,2018 Lexus RX 350 350,"46,729 mi.","$41,880",Oakbrook Toyota in Westmont,"(1,879 reviews)"
6,2021 Lexus IS 350 F Sport,"6,152 mi.","$49,900",Toyota of Lincoln Park,(358 reviews)
7,2015 Lexus GS 350 Crafted Line,"95,530 mi.","$26,894",Lux Cars Chicago,(122 reviews)
8,2019 Lexus RX 350 350,"45,695 mi.","$45,999",Bob Rohrman's Schaumburg Lincoln,(560 reviews)
9,2019 Lexus ES 350 F Sport,"18,290 mi.","$40,980",BMW of Schererville,(397 reviews)
10,2019 Lexus RX 350 350,"13,166 mi.","$48,995",Fields Lexus Glenview,"(2,494 reviews)"
11,2018 Lexus NX 300 Base,"48,877 mi.","$34,256",Lexus Of Highland Park,(224 reviews)
12,2018 Lexus NX 300 F Sport,"47,891 mi.","$36,995",Fields Lexus Glenview,"(2,494 reviews)"
13,2019 Lexus RX 350 F Sport,"10,437 mi.","$57,995",Woodfield Lexus,"(2,008 reviews)"
14,2010 Lexus RX 350 Base,"207,535 mi.","$11,698",Trusted Auto Brokers,(9 reviews)
15,2019 Lexus LX 570 570,"38,010 mi.","$81,995",Lexus of Arlington,"(2,568 reviews)"
16,2019 Lexus ES 350 Luxury,"18,084 mi.","$43,550",Oakbrook Toyota in Westmont,"(1,879 reviews)"
17,2019 Lexus GS 350 F Sport,"24,359 mi.","$49,995",Fields Lexus Glenview,"(2,494 reviews)"
18,2019 Lexus GX 460 Base,"28,307 mi.","$49,500",Al Piemonte Nissan,"(3,483 reviews)"
19,2015 Lexus GS 350 Crafted Line,"58,061 mi.","$28,990",Elgin Chrysler Dodge Jeep Ram,(730 reviews)

Scraping other pages

In [26]:
Name = []
mileage = []
price = []
ratibg= []
review_count = []
dealer_name = []

for i in range(1,11):
    site = "https://www.cars.com/shopping/lexus/?page=" + str(i)
    
    request = requests.get(site)
    soup = BeautifulSoup(request.content, "html.parser")
    cars = soup.find_all("div", class_= "vehicle-card vehicle-card-with-reviews")
    
    #NAME
    for car in cars:
        try:
            Name.append(car.find("h2").text.strip())
        except:
            Name.append("n/a")
    #MILEAGE
        try:
            mileage.append(car.find("div", class_="mileage").text.strip())
        except:
            mileage.append("n/a")
    #PRICE
        try:
            price.append(car.find("span", class_="primary-price").text.strip())
        except:
             price.append("n/a")
        #DEALER_NAME
        try:
            dealer_name.append(car.find("div", class_="dealer-name").text.strip())
        except:
            dealer_name.append("n/a")
        #REVIEW_COUNT
        try:
            review_count.append(car.find("span", class_= "sds-rating__link sds-button-link").text.strip())
        except:
             review_count.append("n/a")

In [28]:
car_dealer = pd.DataFrame({"Name" : Name,"Mileage": mileage, "Price" : price, "Dealer_Name" : dealer_name, "Review_count" : review_count})
car_dealer

,Name,Mileage,Price,Dealer_Name,Review_count
0,2019 Lexus GX 460 460,"60,264 mi.","$45,300",Team Toyota,"(1,253 reviews)"
1,2018 Lexus LC 500 Base,"11,008 mi.","$89,995",Woodfield Lexus,"(2,008 reviews)"
2,2019 Lexus GX 460 Base,"32,048 mi.","$47,464",Napleton's Arlington Heights Chrysler Dodge Je...,"(2,952 reviews)"
3,2019 Lexus GX 460 Base,"36,758 mi.","$49,995",Fields Lexus Glenview,"(2,494 reviews)"
4,2019 Lexus GX 460 Base,"70,326 mi.","$43,999",Phillips Chevrolet of Lansing,"(4,517 reviews)"
...,...,...,...,...,...
194,2017 Lexus NX 200t Base,"63,922 mi.","$28,623",INFINITI of Orland Park A Zeigler Auto Group C...,(801 reviews)
195,2015 Lexus RX 350 Base,"65,829 mi.","$27,532",Berwyn Kia,(112 reviews)
196,2013 Lexus GS 350 Base,"85,215 mi.","$24,990",Carvana-Touchless Delivery To Your Home,"(8,536 reviews)"
197,2017 Lexus ES 350 Base,"25,920 mi.","$31,429",Arlington Heights Buick GMC,"(4,481 reviews)"
198,2020 Lexus UX 250h Base,"23,975 mi.","$38,200",Napleton Hyundai of Glenview,(680 reviews)

In [29]:
car_dealer.to_excel("car_dealers.xlsx", index = False)

In [30]:
car_dealer.to_csv("cars.csv", index = False)